/* font */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:lavender;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
}

/* images */
img {
    width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* headers */
h1 {
    text-align: center;
}

h2 {
    border-bottom: 1px black solid;
}