/* font */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:lavender
}

/* images */
img {
    width: 400px;
    height: auto;
}

/* headers */
h1 {
    text-align: center;
    border-style: solid;
    border-width: 2px;
}

h2 {
    border-width: 0 0 2px 0;
    border-style: solid;
}